<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body>
    <div class="jumbotron" >
        <h1 align="center">Shopping Cart</h1><br>
        {{# if products }}
        <div class="row">
            <div class="col-sm-6  col-sm-offset-3">
                <ul class="list-group">
                    {{# each products }}
                    <li class="list-group-item">

                        <strong style="font-size: 16px">{{ this.item.Description }}</strong>
                        <span class="label label-success " style="font-size: 16px">Rs. {{ this.price }}</span>
                        <div class="btn-group">
                            <button style="font-size: 15px" class="btn btn-primary btn-xs dropdown-toggle" type="button"
                                data-toggle="dropdown">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="/reduceByOne/{{this.item.id}}">Reduce by 1</a></li>
                                <li><a href="/removeAll/{{this.item.id}}">Remove All</a></li>
                            </ul>
                        </div>
                        <span class="badge">{{ this.qty }}</span>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6  col-sm-offset-3">
                <strong>Total Items: {{session.cart.totalQty}}</strong>
            </div>
            <div class="col-sm-6  col-sm-offset-3">
                <strong>Total Price: {{ totalPrice }}</strong>
            </div>

        </div>
        {{!-- <hr> given below is for line --}}
        <hr> 
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                <a href="/checkout" type="button" class="btn btn-success">Checkout</a>
            </div>
            <br> <br> <br>
            <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3 my-2">
                <a href="/" type="button" class="btn btn-warning btn-block ">Add More Products</a>
            </div>
        </div>
        {{ else }}
        <br>
        <div class="alert alert-warning text-center my-3 py-3"  role="alert">
            <h2>{{error}}</h2>
        </div>
        <br> <br> 
            <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3 my-2">
                <a href="/" type="button" class="btn btn-warning btn-block ">Add  Products</a>
            </div>
        
        {{/if}}

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>

</html>